// Variables

// Colors
$primary: #BFCFF7;
$secondary: #1BB0CE;
$rebeccapurple: #663399;

$font: Montserrat, 'Helvetica', 'Open Sans';

$weight-normal: 400;
$weight-semibond: 700;
$weight-bold: 900;

// Breakpoints
$bp-lg: 1170px;
$bp-md: 992px;
$bp-sm: 768px;
$bp-xs: 480px;
